VITE_FIREBASE_API_KEY=AIzaSyC-K3Cpvh8Db82pT87gxqI2SopXvCuG7Do
VITE_FIREBASE_AUTH_DOMAIN=volunteercheckin-3659e.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=volunteercheckin-3659e
VITE_FIREBASE_STORAGE_BUCKET=volunteercheckin-3659e.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=312312939880
VITE_FIREBASE_APP_ID=1:312312939880:web:fb5ea079d99920817082dd
